Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: components build, suite-web build

components build:
  stage: build
  script:
  - pwd
  - cd $PACKAGE_COMPONENTS
  - echo "--- [installing deps] ---"
  - yarn
  - echo "--- [building lib] ---"
  - yarn build
  artifacts:
    name: components-build-files
    expire_in: 15 minutes
    paths:
    - $PACKAGE_COMPONENTS/build

suite-web build:
  stage: build
  script:
  - pwd
  - cd $PACKAGE_SUITE_WEB
  - echo "--- [installing deps] ---"
  - yarn
  - echo "--- [building lib] ---"
  - yarn build
  artifacts:
    name: suite-web-build
    expire_in: 15 minutes
    paths:
    - $PACKAGE_SUITE_WEB/build

try to trigger components only
  packages/components/test/integration/Notifications.test.js
Due: none

restrict more folders
  .gitlab-ci.yml
Due: components build, suite-web build

wip
  packages/components/src/components/Checkbox/index.native.tsx
  packages/components/src/components/CoinLogo/index.native.tsx
  packages/components/src/components/Header/index.native.tsx
  packages/components/src/components/Heading/index.native.tsx
  packages/components/src/components/Icon/index.native.tsx
  packages/components/src/components/Invalid/index.tsx
  packages/components/src/components/Link/index.native.tsx
  packages/components/src/components/Loader/index.native.tsx
  packages/components/src/components/Prompt/index.native.tsx
  packages/components/src/components/Textarea/index.native.tsx
  packages/components/src/components/Tooltip/index.native.tsx
  packages/components/src/components/TrezorImage/index.native.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/components/buttons/Pin/index.native.tsx
  packages/components/src/components/inputs/Input/index.native.tsx
  packages/components/src/components/inputs/Pin/index.native.tsx
  packages/components/src/config/animations.native.ts
  packages/components/src/config/variables.ts
  packages/components/src/index.ts
  packages/components/src/utils/colors.ts
  packages/suite-web/pages/ui/index.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/views/ui/index.tsx
Due: none

adjust folders to new server
  .gitlab-ci.yml
Due: components build, suite-web build

trigger components
  .gitlab-ci.yml
Due: components build, suite-web build

wip
  packages/components/src/components/Modal/index.native.tsx
  packages/components/src/components/Notification/index.native.tsx
  packages/components/src/components/Paragraph/index.native.tsx
  packages/components/src/components/Select/index.native.tsx
  packages/components/src/components/Switch/index.native.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/config/colors.ts
  packages/suite/src/components/SuiteWrapper.tsx
Due: none

trigger another debug build
  .gitlab-ci.yml
Due: components build, suite-web build

try copy
  .gitlab-ci.yml
Due: components build, suite-web build

#27 Loader default stroke width to 2px
  packages/components/src/stories/components/loader.js
Due: none

try pwd
  .gitlab-ci.yml
Due: components build, suite-web build

#24 add trezor-logos
  packages/components/src/components/TrezorLogo/index.tsx
  packages/components/src/images/trezor_logo_horizontal_black.svg
  packages/components/src/images/trezor_logo_vertical_black.svg
  packages/components/src/stories/components/other.js
Due: none

fix path
  .gitlab-ci.yml
Due: components build, suite-web build

fix fonts and remove logs
  .gitlab-ci.yml
  packages/components/package.json
Due: components build, suite-web build

add asset prefix
  .gitlab-ci.yml
  packages/suite-web/next.config.js
Due: components build, suite-web build

fix asset prefix
  .gitlab-ci.yml
Due: components build, suite-web build

fix asset prefix 2
  .gitlab-ci.yml
Due: components build, suite-web build

button fixes
  packages/components/src/components/buttons/Button/index.native.tsx
Due: none

add log
  .gitlab-ci.yml
Due: components build, suite-web build

try to fix url again
  .gitlab-ci.yml
Due: components build, suite-web build

try to fix url again 2
  .gitlab-ci.yml
Due: components build, suite-web build

fix btn
  packages/suite/src/views/index.tsx
Due: none

Add automatic builds to dev servers for components and suite-web (#40)
  .gitlab-ci.yml
  packages/components/package.json
  packages/components/test/integration/Notifications.test.js
  packages/suite-web/next.config.js
Due: components build, suite-web build

add basic config for snapshot testing
  .gitlab-ci.yml
Due: components build, suite-web build

add basic config for snapshot testing - go to package
  .gitlab-ci.yml
Due: components build, suite-web build

fix url, simplify tasks
  .gitlab-ci.yml
  packages/components/package.json
Due: components build, suite-web build

remove npx
  packages/components/package.json
Due: components build

install cypress
  .gitlab-ci.yml
Due: components build, suite-web build

install cypress deps
  .gitlab-ci.yml
Due: components build, suite-web build

fix cypress base url
  .gitlab-ci.yml
Due: components build, suite-web build

add install step, put back ci tasks
  .gitlab-ci.yml
Due: components build, suite-web build

pass url as param
  .gitlab-ci.yml
Due: components build, suite-web build

add c param
  .gitlab-ci.yml
Due: components build, suite-web build

remove absolute url
  packages/components/test/integration/Buttons.test.js
  packages/components/test/integration/Form.test.js
  packages/components/test/integration/Notifications.test.js
  packages/components/test/integration/Typography.test.js
Due: none

styled components ssr support
  packages/suite-web/babel.config.js
Due: suite-web build

simplify all tests
  .gitlab-ci.yml
  packages/components/test/integration/Form.test.js
  packages/components/test/integration/Typography.test.js
  packages/components/test/support/commands.js
Due: components build, suite-web build

move only change
  .gitlab-ci.yml
Due: components build, suite-web build

fix indent
  .gitlab-ci.yml
Due: components build, suite-web build

fix env varaibles
  .gitlab-ci.yml
Due: components build, suite-web build

add artifacts paths
  .gitlab-ci.yml
Due: components build, suite-web build

make references all the time
  .gitlab-ci.yml
Due: components build, suite-web build

Path conditions:
  components build: any of: packages/components/**, .gitlab-ci.yml
  suite-web build: any of: packages/suite-web/**, .gitlab-ci.yml
